<html>
<head>
    <title></title>
    <meta name="viewport" content="width=device-width" initail scale=1>
    <link rel="stylesheet" href="bootstrap.min.css">
    <script src="bootstrap.bundle.min.js"></script>
    <script src="jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<link rel="stylesheet" href="styletest.css">
</head>
    <style>
        .pqr{ border: 3px solid red; }</style>
<body>
    <div class="container">
                <div class="row">
                <div class="col-sm-3 col-md-4"><center> thinking lama </center> </div>
                    <div class="col-sm-3 col-md-8">
                    <center>
                    <a href="#"> <img src="fbicn.png" height="40px" width="40px"> </a>
                    <a href="#"> <img src="gmailicn.png" height="40px" width="40px"> </a>
                    <a href="#"> <img src="wappicn.png" height="40px" width="40px"> </a>
                    </center>
                    </div>
                
                </div>
<div class="row">
    <div class="col-sm-2 col-md-20%"> <center> <a href="#"> PRIVACY</a> </center></div>
    <div class="col-sm-3 col-md-20%"><center> <a href="#"> TERMS </a></center></div> 
    <div class="col-sm-2 col-md-20%"><center> <a href="#">ABOUT US</a></center></div>
    <div class="col-sm-2 col-md-20%"> <center> <a href="#">SITE MAP </a> </center> </div>
    <div class="col-sm-3 col-md-20%"> <center> <a href="#"> @2019</a> </center> </div>
        </div>
                
            </div>
    </body>
</html>